<br />

<form class="form-inline" action="@Url.Action("ShowResultsFromDB")" method="post">
    <input style="width:100%;margin-left:auto;margin-right:auto;border:groove;height:40px;" class="form-control" id="inputdefault" autofocus="autofocus" type="text" name="search" required />
    <button type="submit" style="height:40px" class="btn btn-success">Custom search from data base</button><br /><br />
</form>
